body { color: #bff9ff;
  background-image: url("http://cdn.wallpapersafari.com/44/92/Gg2lxV.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
  font-family: 'Lemonada', cursive;
  text-align: center;
}
h1 { color: #bff9ff;
  text-align:center;
  font-size: 30px;
  font-family: 'Lemonada', cursive;
}
h5 { color: #bff9ff;
  border: 1px solid #000;
  border-style: hidden;
  width:"50%";
  length:"50%";
  position: absolute;
  top: 250px;
    right: 0;
    width: 200px;
    height: 100px;
  padding: 10px;
  font-size: 10px;
  font-family: 'Lemonada', cursive;
  text-align:center;
}
h6 {color: #bff9ff;
  border: 1px solid #000;
  border-style: hidden;
  padding: 10px;
  font-size: 10px;
  font-family: 'Lemonada', cursive;
  text-align:center;

}
.float-right {
              float:right;

}



#logo {
        font-size: 20px;
        font-family: 'Lemonada', cursive;
        text-align: center;
}
